* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #007270;
    color: #D8FFDB;
}
body::-webkit-scrollbar{
  display: none;
}