@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem 2rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    user-select: none;
}

header h1{
    font-weight: 450;
    font-size: 2.5rem;
    color: #C7FFED;
}
#div-title-logo {
  #span-title{
    text-decoration: none;
  position: relative;
  transition: color 0.5s ease;
  }
}

#div-title-logo::after {
    #span-title{
    content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #A6A6A6, transparent);
  background-size: 300% 100%;
  opacity: 0;
  transition: opacity 0.5s;
  }
}

#div-title-logo:hover #span-title{
  color: #015958;
    }


#div-title-logo:hover::after #span-title{
        opacity: 1;
  animation: shimmer111 2s linear infinite !important;
    }


@keyframes shimmer111 {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
header h1 span{
    font-weight: 600;
    color: #D8FFDB;
}
#ul-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 1.2rem;
}
nav ul a{
    text-decoration-line: none;
    color: #C7FFED;
}

.li-menu{
    cursor: pointer;
    color: #C7FFED;
    position: relative;
  transition: all 0.3s ease;
}
.li-menu:hover,.li-menu-active:hover{
   transform: translateY(-3px);
}
.li-menu::before, .li-menu-active::before{
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 5px;
    background-color: #D8FFDB;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}
.li-menu-btn{
    border: none;
    border-radius: 20px;
    padding: 0.8rem 1rem;
    background-color: #0c5555;
    transition: all 0.3s ease;
}
.li-menu-btn:hover{
    background-color: #003333;
    transform: translateY(-3px);
}
#mobile-btn{
    display: none;
}
#ul-menu-mobile{
    list-style: none;
    display: none;
    gap: 2rem;
    align-items: center;
    font-size: 1.2rem;
  
}

@media screen and (max-width: 768px) {
    #mobile-btn{
    display: flex;
    flex-direction: row;
    align-items: end;
    border: none;
    color: #C7FFED;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}
    #ul-menu{
        display: none;
    }
    #nav-menu.nav-menu-responsive{
      background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: end;
        
        
        #ul-menu-mobile{
          display: flex;
          flex-direction: column;
          width: 100%;
    }
}
}
